[smtp]
# If you want airflow to send emails on retries, failure, and you want to use
# the airflow.utils.email.send_email_smtp function, you have to configure an
# smtp server here
smtp_host = smtp.gmail.com
smtp_starttls = True  # False
smtp_ssl = False      # True
smtp_user = YOUR_EMAIL@gmail.com                      
smtp_password = YOUR_PASS
smtp_port = 587       # 465
smtp_mail_from = YOUR_EMAIL@gmail.com
